<%- include('partials/header') %>
<form id="editPost" method="post" class="was-validated">
	<h1 class="h3 mb-3 fw-normal">Please Edit/Delete Post</h1>

	<% if (locals.data && locals.id) { 
		let dato = data[id];
		// console.log(dato);
	%>
	<div class="form-floating">
		<label for="floatingInput">Email address</label>
		<input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" required="true" value="<%=dato.email %>" readonly="true">
	</div>
	<div class="form-floating">
		<label for="floatingPassword">Password</label>
		<input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required="true" >
	</div>
	<div class="form-floating">
		<label for="floatingPassword">Title</label>
		<input type="text" name="tittle" class="form-control" id="floatingtittle" placeholder="Tittle" required="true" value="<%=dato.tittle %>">
	</div>
	<div class="form-floating">
		<label for="floatingPassword">Post</label>
		<textarea class="form-control" name="post" id="floatingpost" placeholder="Post" required="true"><%=dato.post %></textarea>
	</div>
	<div class="form-floating">
		<p></p>
	</div>
	<ul class="nav col-md-12 justify-content-end list-unstyled d-flex">
		<li class="ms-3"><button class="btn btn-primary py-2 " type="submit" formaction="/update?id=<%=id%>">Update Post</button></li>
		<li class="ms-3"><button class="btn btn-danger py-2 " type="submit"  formaction="/delete?id=<%=id%>">Delete Post</button></li>
	</ul>
	<% } %>
</form>
<%- include('partials/footer') %>