<%- include('partials/header') %>

<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-dark">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic text-white">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
    </div>
  </div>

<div class="row g-5">
	<div class="col-md-8">
		<h3 class="pb-4 mb-4 fst-italic border-bottom">
		From the Loop
		</h3>
		
		<% if (locals.data) { %>
			<%- include('article',{data: data}) %>
		<% } else { %>
			<%- include('article') %>
		<% } %>
	</div>

	<div class="col-md-4">
		<div class="position-sticky" style="top: 2rem;">
			<% if (locals.data) { %>
				<%- include('recent',{data: locals.data}) %>
				<%- include('archives',{data: locals.data}) %>
				<% } else { %>
					<%- include('recent') %>
					<%- include('archives') %>
				<% } %>
		</div>
	</div>
</div>

<%- include('partials/footer') %>